.blog__header{
    margin: 1rem 0rem;
}

.blog__container {
    max-width: 350px;
    min-height: 500px;
    overflow: hidden;
    background-color: #071e2c;
    border-radius: .5rem;
}

.blog_data {
    padding: 1rem;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog_img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.blog__title {
    margin: .5rem 0rem;
}

.blog_description {
    color: rgb(182, 180, 180);
}

.project__button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}
.project__button button{
    padding: .5rem;
    outline: none;
    border: none;
    background-color: yellowgreen;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.project__button button:hover{
    padding: .5rem;
    outline: none;
    border: none;
    background-color: hsla(80, 61%, 50%, .5);
    border-radius: .5rem;
    cursor: pointer;
}

.project__button button:nth-child(1) {
    background-color: hsl(9, 100%, 64%, 1);
    transition: .2s ease-in-out;
}

.project__button button:nth-child(1):hover {
    background-color: hsl(9, 100%, 64%, .5);
}

.project__button button:nth-child(3) {
    background-color: hsla(195, 53%, 79%, 1);
    transition: .2s ease-in-out;
}

.project__button button:nth-child(3):hover {
    background-color: hsla(195, 53%, 79%, .5);
}

.project__tech {
    display: flex;
    align-items: center;
    gap: .1em;
    margin-top: .5rem;
}

.language__color {
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.project__language {
    display: relative;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }