.blog__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 16px;
}

.blog__header{
    margin: 1rem 0rem;
}

.blog_data {
    padding: 1rem;
}

.blog__container {
    max-width: 350px;
    overflow: hidden;
    background-color: #071e2c;
    border-radius: .5rem;
}

.blog_img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.blog__title {
    margin: .5rem 0rem;
}

.blog_description {
    color: rgb(182, 180, 180);
}

.blog__read_more {
    margin: 1rem 0rem;
    border-bottom: 3px solid yellowgreen;
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 768px) {
    .blog__group {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller devices */
    }
  }
  
  @media (max-width: 480px) {
    .blog__group {
      grid-template-columns: 1fr; /* One column on the smallest devices */
    }
  }