@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Outfit;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  background: var(--color-bg);
}

.normal__text {
  color: var(--text-color);
}

.section__padding {
  padding: 2rem 3rem;
}

.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

@media screen and (max-width: 320px) {
  .container{
    margin-inline: 1rem;
  }

  .nav__menu{
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .section__padding{
    padding: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .nav__menu{
    width: 380px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1150px) {
  .section__padding{
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(3.5rem) + 2rem);
    column-gap: 4rem;
  }
  .icon {
    display: none;
  }
  .nav__link span {
    display: block;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list{
    column-gap: 4rem;
  }

  @media screen and (min-width: 1220px) {
    .container {
      margin-inline: auto;
    }
  }
}